/* Light/dark/nocturnal modes are defined as custom properties. */
:root {
--bg-color:		#888; /* mid-gray. This is to reduce the flash when refreshing
						the screen using darkmode. */
--text-color:	#000000; /* black */
--a-link:		#0000FF; /* blue */
--a-visited:	#800080; /* purple */
--a-hover:		#4169E1; /* royalBlue */
--a-active:		#FF0000; /* red */
--heading-opacity:	1.0;
--img-opacity:		1.0;
--img-opacity-trans: 0.0s;
--hr-color:			#666; /* light gray */
--crumb-bg:			#EEEEEE;
--crumb-sep-color:	black;
--crumb-a-link:		mediumBlue;
--crumb-a-hover:	royalBlue;
--sect-border-color: #C8C8C8;
--table-border-color: #999;
--table-alt-row-bg:	#E6E6E6;}

.lightmode {
--bg-color:	#FFFFFF; /* white. This gets set like the dark & noct modes. If it
						is default (in :root), the screen flashes when reloading
						the page using darkmode. (If :root defaults to black,
						and	you're using light mode & reload, it flashes black.
						Gray is the balance for both conditions. */
}

.darkmode {
--bg-color:   #121212; /* almost black */
--text-color: #FFFFFF; /* white */
--a-link:    lightSkyBlue; /* lightSkyBlue #87CEFA */
--a-visited:	#bb86fc; /* purple */
--a-hover:    lightCyan; /* lightCyan #E0FFFF */
--a-active:   #DDA0DD; /* plum #DDA0DD; */
--heading-opacity: 0.92;
--hr-color:   #666; /* med gray */
--crumb-bg:			#2A2A2A;
--crumb-sep-color:	#808080;
--crumb-a-link:		#6495ED; /* cornflowerBlue #6495ED*/
--crumb-a-hover:	#E0FFFFbb; /* lightCyan #E0FFFF made darker */
--sect-border-color: #484848;
--table-border-color: #6A6A6A;
--table-alt-row-bg:	#262626;}

.noctmode {
--bg-color:   #000000; /* black */
--text-color: #FFBF00; /* amber */
--a-link:      #e67e00; /* darkOrange #FF8C00 one shade darker: #e67e00 */
--a-visited:	#CD5C5C; /* indianRed #CD5C5C one shade lighter: cf6363, 2 shades: d57676 */
--a-hover:    #FF4500; /* orangeRed #FF4500 one shade lighter: #ff571a */
--a-active:   gold; /* gold */
--heading-opacity: 0.86;
--img-opacity:		0.5;
--img-opacity-trans: 0.5s;
--hr-color:   #FFBF0088;
--crumb-bg:			#FFBF0035; /* amber dark */
--crumb-sep-color:	#FFBF0078; /* amber, mildly darker */
--crumb-a-link:		 #c94f4f; /* indianRed #CD5C5C  one shade darker: #c94f4f, 2 shades:  #c33c3c,  */
--crumb-a-hover:	#ff571a; /* orangeRed #FF4500 one shade lighter: #ff571a */
--sect-border-color: #FFBF004B;
--table-border-color: #806000; /* amber #FFBF00 two shades darker: #cc9900, 3 shades: #b38600 4 shades: #997300. 5 #806000*/
--table-alt-row-bg:	#FFBF001F;}

* {box-sizing: border-box;}

body {margin-left: 2%; margin-right: 2%;
	background-color: var(--bg-color);
	color: var(--text-color);}

h1, h2, h3, h4, h5, h6 {opacity: var(--heading-opacity);}

a:link {color: var(--a-link);}
a:visited {color: var(--a-visited);}
a:hover {color: var(--a-hover);}
a:active {color: var(--a-active);}

hr {border: none;
	height: 2px;
	background-color: var(--hr-color);}


/* misc style */
.center {text-align: center;}
footer {font-style: italic;
	text-align: right;
	font-size: 92%;
	margin-top: 1em;}
.smaller {font-size: 90%;}
.archived {font-size: smaller;}
.archived a {font-style: italic;}

/* Fake "sup" appearance */
a.fn {font-size: 88%;
	vertical-align: text-top;
	position: relative;
	top: -0.17em;
	right: -0.01em;}

/* Images will left-align with the page, but have centered text beneath, and
 * responsive to small screens (shrink to fit) */
div.image {text-align: left; margin-left: 4%;}
div.image > div {display: inline-block; text-align: center;}
img {max-width: 100%; height: auto; float: left; padding: 1px; opacity: var(--img-opacity); transition: opacity var(--img-opacity-trans) ease-in;}
img:hover {opacity: 1.0;}

/* footnote section */
section#fn > hr {margin-top: 1.75em;}
section#fn > p:first-of-type {margin-top: .75em;}
section#fn > h2 {display: none;}

/* Indent the nested sections (the div container which immediately follows the
 *  first h1-6 of the section) */
section > h2:first-child + div,
section > h3:first-child + div,
section > h4:first-child + div,
section > h5:first-child + div,
section > h6:first-child + div {border-left: .1em dashed var(--sect-border-color);
			margin-left: .4em;
			padding-left: 1em;}


/* ------------ Header, breadcrumb links & display mode ------------ */

/* Style the list */
header > nav > ul {
	padding: 0px 10px;
	list-style: none;
	background-color: var(--crumb-bg);
	display: inline;
}

/* Display list items side by side */
header > nav > ul li {
	display: inline;
	font-size: 92%;
}

/* Add a slash symbol (/) before/behind each list item */
header > nav > ul li+li:before {
	padding: 2px;
	color: var(--crumb-sep-color);
	content: ">\00a0";
}

/* Add a color to all links inside the list */
header > nav > ul li a {
	color: var(--crumb-a-link) !important;
	text-decoration: none;
}

/* Add a color on mouse-over */
header > nav > ul li a:hover {
	color: var(--crumb-a-hover) !important;
	text-decoration: underline;
}

/* Display mode choices */
header div#display-mode {
	position: absolute;
	top: 0; right: 0;
	background-color: var(--bg-color);
	color: var(--hr-color);
	border-style: solid;
	border-width: 0 0 0 0;
	border-color: var(--hr-color);
}

header div#display-mode label {
	font-size: 90%;
}

header div#display-mode select {
	background-color: var(--bg-color);
	color: var(--hr-color);
	border-width: 0 0 1px 0;
	border-style: solid;
	border-color: var(--hr-color);
	font-size: 90%;
}

/* Move h1 up if navbar present */
header > nav + div + h1 {margin-top: .2em;}


/* ------------------ root page Welcome ------------------ */
div#welcome ul  {margin: 0 auto;
	text-align: center;
	list-style: none;
	font-size: 133%;
	font-weight: bold;
	padding: 0 10%;
}

div#welcome ul li.row1 {
	float: left;
	width: 50%;
}

/* Add responsiveness - make the columns appear on top of each other instead of next to each other on small screens */
@media screen and (max-width: 800px) {
	div#welcome ul li.row1 {
		width: 100%;
		text-align: center;
	}
}

/* -------------- Tables -------------- */
table th {font-size: 95%;}

/* Borders */
table, table th, table td {
	border-style: solid;
	border-color: var(--table-border-color);
	border-width: 2px;
	border-collapse: collapse;

}

table th, table td {padding: 0 .33em; /* 0 top/bottom, 1/3 em left/right */}

/* Indent tables */
table#costs-collars, table#costs-leashes, table#donations,
table#alloc-collars, table#alloc-leashes,
table#collars-materials, table#collars-lengths,
table#leashes-materials, table#leashes-lengths,
table#clamps-collars, table#settings-collars,
table#clamps-leashes, table#settings-leashes {margin-left: 4%;}


