#*****************************************************************************************
# This site is hosted on Cloudflare Workers. It doesn't use .htaccess. In this file, I
# I describe:
#
#		1. The .htaccess I used with Apache hosting (not used now)
#   	2. Cloudflare configuration & rules (I use now)
#*****************************************************************************************

#===============================================================================
# When this site was hosted on Apache, the following was used:
#RewriteEngine On
#
#-------------------------------------------------------------------------------
# Redirect apex (non-www domain name) to www:
#-------------------------------------------------------------------------------
#RewriteCond %{HTTP_HOST} ^mcacc-collars\.charity$ [NC]
#RewriteRule ^(.*)$ https://www.mcacc-collars.charity/$1 [R=301,L]
#
#-------------------------------------------------------------------------------
# Require https:
#-------------------------------------------------------------------------------
#RewriteCond %{HTTPS} off
#RewriteRule ^(.*)$ https://www.mcacc-collars.charity/$1 [R=301,L]
#
#-------------------------------------------------------------------------------
# Redirect a free domain to my domain name:
#-------------------------------------------------------------------------------
#RewriteCond %{HTTP_HOST} ^.*\.webs\.nf$ [NC]
#RewriteRule ^(.*)$ https://www.mcacc-collars.charity/$1 [R=301,L]


#=========================================================================================
# ON CLOUDFLARE:
#
# * REDIRECT HTTP & NON-WWW TO WWW:
#
#	It's important to note;
#	1. Cloudflare has an option to require https (SSL > Edge Certificates > Always use...).
#      I don't use that because http://mcacc-collars.charity would be redirected twice. 
#      First by that option (to https), and then to www by the following rules.
#   2. I don't redirect if the path starts with /.well-known/ RFC 8615 has some
#      requirements for never redirecting to www if it's not specified. And, not to 
#      https in some cases. I choose not to do anything with it. (But, .php requests
#      are blocked below.).
#
#    http & non-www redirects can be done (as one redirect) in two places:
#
#   1. "Bulk redirects:"
#   - Go to home (domains) > "Delivery & performance > Bulk redirects."
# 	- Create a "bulk redirect list" with these three items:
#	 
#     SOURCE URL                        TARGET URL                         STATUS
#     http://mcacc-collars.charity/     https://www.mcacc-collars.charity/ 301
#     https://mcacc-collars.charity/    "                                  301
#     http://www.mcacc-collars.charity/ "                                  301
#
#     You MUST set these "edit parameters" for EACH rule:
#       - Subpath matching (matches any source URL after /) 
#       - Preserve path suffix (adds anything after / to the target URL) 
#
#   Those rules cover every possible condition (with one redirect).
#
#   Then create a "Bulk Redirect Rule," and choose the option "use expression editor."
#   Enter this expression in the editor (not the "builder"):
#
#      http.request.full_uri in $apex_to_www and
#      (not starts_with(http.request.uri.path, "/.well-known/"))
#
#    That rule will limit application of the redirects (I named my list above"apex_to_www")
#    to everything except /.well-known/.
#
#    I don't understand the other options there ("apply matching url" Name & "key".) Mine
#    are set to name = "apex_to_www" , and key = "http.request.full_uri". (I've never been
#    able to use a different key value.).
#
# 2. You can do those redirects in "Rules > Overview > Redirect rules" as a "custom filter
#    expression:
#
#   - "When incoming requests match..."
#     - Chose "Edit expression:"
#       not starts_with(http.request.uri.path, "/.well-known/") and
#          (
#          not ssl or 
#          http.host eq "mcacc-collars.charity"
#          )
#	  
#   - "Then..."
#     - "URL redirect"
#       Type: Dynamic
#       Expression: concat("https://www.mcacc-collars.charity", http.request.uri.path)
#       Status: 301
#       Preserve query string (checked. Query strings are used with .css & .js links)
#
# They each have their pros & cons.
#
# The first way (Rules) are applied early in Cloudflare's process.[1] The upside is that
# normal traffic is redirected quickly. The downside: malicious traffic (blocked below)
# gets redirected and then blocked when it returns. That seems inefficienty. But, I guess
# I shouldn't care (let the malicious people waste their time with redirects.). The real
# downside I don't like is that those redirects (malicious) appear in Security > Analytics,
# making that page less useable to see real traffic. You can omit the display of blocked
# requests (below). But, you can't omit those requests when they're redirected (before
# they're blocked). The analytics screen gets junky.
#
# The second way (Bulk) are applied after the blocking rules. This seems efficient to knock
# malicious requests out. They don't appear in Security > Analytics (it's easier to look
# at without all the noise). The downside: normal traffic that needs to be redirected will
# go through the whitelisting rules (below) twice. It's probably better to let the
# inefficiency of the first way (Rules) hit the malicious traffic than to let inefficiency
# apply to the normal traffic. But, there's not that much normal traffic that needs this
# redirect. It's just the first visit. Anything they navigate after will go through the
# whitelist rules once.
#
# To me, the difference in Security > Analytics useability causes me to like Bulk better.
# I think Rules is how it should be done. If I didn't look at analytics much, I would use
# Rules.
#
#
# * REDIRECT /images/[subdirectory] to /images/ 
#           (and some other redirects)
#
# I created another bulk-redirect list for the /images/medium/ & /small/ subdirectories.
# They have smaller versions of the images in /images. I don't have directory browsing for
# those subdirs (just for the full-size images in /images/). I redirect any request (to 
# browse those subdirs) to /images/:
#
#
# SOURCE URL                     								TARGET URL									STATUS
# https://www.mcacc-collars.charity/images/medium				https://www.mcacc-collars.charity/images/ 	301
# https://www.mcacc-collars.charity/images/medium/				"											301
# https://www.mcacc-collars.charity/images/medium/index.html	"											301
# https://www.mcacc-collars.charity/images/small				"											301
# https://www.mcacc-collars.charity/images/small/				"											301
# https://www.mcacc-collars.charity/images/small/index.html		"											301
#
# Do not enable any "Edit parameters."
#
# I also bulk-redirect 3 other things:
#   "/license.txt" to "/LICENSE.txt"
#   "/manifest.webmanifest" to "site.webmanifest"
#   Also, google occasionally requests its site-verify file (xxx.html) without the .html.
#   I redirect that.
#
# * REDIRECT (short-lived docs/_redirects)
#
# I consider the above redirects to be permanent. When I have to redirect a filename that's
# changed, I use the docs/_redirects file. I consider those temporary. After a few months
# there shouldn't be anymore requests, the redirect will be removed.
#
#
#===
# * BLOCK MALICIOUS REQUESTS
#
# I was getting hundreds of requests for system files, things I don't have (nobody should
# try to access even if I did). I created the following rules in Security > Security rules
# > Custom rules:" 
#
# RULE #1: Whitelist: expected (valid) requests
#
# The blocking rules have so many conditions that it seemed better to whitelist what I
# know to be valid requests. I start with what should be the most frequent (images?), end
# with the least expected (someone typing in a path without a trailing /).
#
# I think /images/* get the most access. I expect four extensions (.webp, .jpg, .gif or
# .svg; plus .html whitelisted further down because it should be rarely accessed). The
# shortest image filename is 21-char (plus 8 for "/images/" path):

(starts_with(http.request.uri.path, "/images/") and
  substring(http.request.uri.path, -4) in {"webp" ".jpg" ".gif" ".svg"} and
  len(http.request.uri.path) gt 28
) or

# There can also be directory browsing on /images/ (not the subdirs inside it). But, that
# should be much less frequent. I whitelist it below. The .html extension is handled there.
#
# Next, I assume /css & /js are the next most-common requests:

http.request.uri.path in {"/css/style.css" "/css/files.css" "/js/darkmode.js"} or

# Again, there could be directory browsing on those. That's whitelisted below because it
# should be rare. (I don't have directory browsing enabled for those. But, it shouldn't
# be blocked either.).
#
# I think the published (displayable) pages (directories) of the site would be next most
# commonly requested (in the order I think they'd be most visited, not sure if order
# matters with the "in" operator?):

http.request.uri.path in {
"/resources/leash-sleeve/"
"/resources/collars-leashes/"
"/resources/collars-leashes/lk1900bn/"
"/resources/collars-leashes/lk1900bn/bobbin-winder/"
"/resources/collars-leashes/hot-knife/"
"/resources/"
"/"} or

# Those can also be directory browsed with /index.html (or without the trailing /). This
# should be even more rare. I whitelist it below.
#
# Then there's requests for /files/*. Only the filetypes pdf & zip exist: 

( starts_with(http.request.uri.path, "/files/") and
  substring(http.request.uri.path, -3) in {"pdf" "zip"}
) or

# Again, /files could be directory browsed with /index.html or without trailing /. 
# Whitelisted below.
#
# Next, I enumerate all the individual files acessible in home:

http.request.uri.path in {"/BingSiteAuth.xml" "/googleb3737839f3b1fec8.html" "/llms.txt" "/robots.txt" "/site.webmanifest" "/404.html" "/404.svg" "/sitemap.xml.gz" "/sitemap.xml" "/LICENSE.txt" "/ads.txt" "/6s9dh98hxq1sjut3sf1t1pq5rz41uevv.txt"
"/android-chrome-192x192.png" "/android-chrome-512x512.png" "/apple-touch-icon.png" "/favicon.ico" "/favicon-16x16.png" "/favicon-32x32.png" "/icon.svg"

# I dont serve these files, but redirect them to files I do serve (either as a bulk
# redirect, or a symbolic link):

"/license.txt" "/manifest.webmanifest" "/googleb3737839f3b1fec8" "/app-ads.txt"

# I don't serve these, but see requests for them. I wouldn't block these (they're not bad).
# So, I whitelist them.

"/humans.txt" "/sitemap_index.xml" "/apple-touch-icon-precomposed.png"
} or

# There's also .well-known. I think that's supposed to be wide-open, any request allowed (a
# standard). But, .php requests seem unreasonable to me. (I'd be careful blocking more.).

(starts_with(http.request.uri.path, "/.well-known/") and
  not ends_with(http.request.uri.path, ".php")
) or

# Directory browsing shouldn't be allowed for /.well-known. I don't whitelist .index.html
# nor requests without the trailing / . If it's accessed with the trailing /, browsing isn't
# enabled (get the normal not permitted system response).

# At this point, the only other requests that could occur would be directory browsing of
# either 1) directories that aren't the site's "pages" people are invited to visit
# (whitelisted above as directories). Or, 2) directories that were whitelisted above, but
# could be requested with "index.html" added (which would be rare, or withot the trailing
# /).
#
# The following are in the order of what's already been whitelisted (what this adds to, but
# done here because these requests should be very rare.

http.request.uri.path in {

# /directory/ & /directory/index.html

http.request.uri.path in {
"/images/" "/images/index.html"

# These don't have directory browsing, no .index.html

"/css/"
"/js/"

# These are just /directory/index.html because the /directory/ was already whitelisted
# above:

"/resources/index.html"
"/resources/collars-leashes/index.html"
"/resources/collars-leashes/hot-knife/index.html"
"/resources/collars-leashes/lk1900bn/index.html"
"/resources/collars-leashes/lk1900bn/bobbin-winder/index.html"
"/resources/leash-sleeve/index.html"
"/index.html"

# Another /directory/ & /directory/index.html

"/files/" "/files/index.html"

# It's also possible to browse the subdirs of /images/, but there's nothing there to see.
# I use bulk-redirects to redirect these accesses to /images/

"/images/small/" "/images/small/index.html"
"/images/medium/" "/images/medium/index.html"} or

# Finally, the rarest request would be any directory browsing without the trailing slash.
# I think this could only occur if someone typed the url, very rare.

http.request.uri.path in {
"/images"
"/css"
"/js"
"/resources"
"/resources/collars-leashes"
"/resources/collars-leashes/hot-knife"
"/resources/collars-leashes/lk1900bn"
"/resources/collars-leashes/lk1900bn/bobbin-winder"
"/resources/leash-sleeve"
"/files"
"/images/small"
"/images/medium"}

# Action: SKIP (all remaining custom rules)
# Log matching requests: NO
#
# Note: It's tempting to consider reversing the logic, and say "if NOT" any of the above: block
# (everthing else). But, I think there could be legitimate things browsers, AI bots might look for.
# For example, llms.txt is relatively new. Likewise, an old Apple ipad looks for a "precomposed"
# favicon. I would worry about what else I'm not aware of. I think it's better to let everything
# not-whitelisted fall through. Block things specifically in the next rules.
#
#
# RULE #2: Block: requests for things I don't have (and look malicious):
#
# So far I am blocking:

# I get hundreds of requests for /aa, /ab, /ac, etc. The largest path I serve is /ads.txt (8 char).
# There shouldn't be any requests for any files with paths shorter than that. I could probably
# block < 10, but there's alawys new standards evolving (like /llms.txt which is 9). I wouldn't want
# to block something that's normal someday (unforeseen today). I think there's almost no chance of a
# future standard looking for something shorter than 8.
len(http.request.uri.path) lt 8 or

# I block paths ending in these strings:
substring(lower(http.request.uri.path), -3) in {".gz" ".7z" ".xz" ".md" ".sh" ".js" ".rc" ".db" ".py" "yml"} or
substring(lower(http.request.uri.path), -4) in {".zip" ".tar" ".rar" ".bz2" ".tgz" ".cfm" ".ini" ".asp" ".cfg" ".map" ".sql" ".axd" ".cgi" ".bak" ".log" ".key" ".pem" "dump" ".hcl" "vars"} or
substring(lower(http.request.uri.path), -5) in {".json" ".toml" ".aspx" ".yaml" ".conf" "state" ".lock" "phtml"} or

# I block paths starting with these strings:
substring(http.request.uri.path, 0, 2) in {"/_" "/~" "/$" "/;"} or
substring(lower(http.request.uri.path), 0, 3) in {"/v2" "/s3" "/.;"} or
substring(lower(http.request.uri.path), 0, 4) in {"/.ds" "/.ht" "/aws" "/ecp" "/var" "/log" "/opt" "/etc" "/rsc" "/old" "/pre" "/dev" "/new" "/asp" "/..;" "/id_" "/img" "/v1/" "/.ai"} or
substring(lower(http.request.uri.path), 0, 5) in {"/.ssh" "/.aws" "/alfa" "/blog" "/.svn" "/root" "/rest" "/team" "/home" "/file" "/page" "/post" "/.bod" "/auto" "/cred" "/user" "/word" "/inst" "/curl" "/host" "/feed" "/sign" "/test" "/dash" "/boot" "/info" "/.pgp" "/make" "/mini"} or
substring(lower(http.request.uri.path), 0, 6) in {"/graph" "/debug" "/login" "/admin" "/oauth" "/media" "/react" "/theme" "/tinyf" "/.idea" "/.bash" "/check" "/front" "/alvin" "/nginx" "/.wind" "/.curs"} or
substring(lower(http.request.uri.path), 0, 7) in {"/upload" "/plugin" "/.trash" "/server" "/health" "/action" "/webjar" "/orders" "/editor" "/assets" "/module" "/static" "/manage" "/update" "/vendor"} or
substring(lower(http.request.uri.path), 0, 8) in {"/.pypirc" "/storage" "/request" "/cgi-bin" "/swagger" "/console" "/webhook" "/setting" "/project" "/product" "/package" "/message" "/control" "/contact" "/billing" "/.vercel" "/.stripe" "/jenkins" "/profile" "/payment" "/threads" "/enhance" "/.yarnrc" "/metrics" "/web-inf" "/.action" "/staging" "/laravel" "/deliver" "/details" "/pricing"} or
substring(lower(http.request.uri.path), 0, 9) in {"/procfile" "/actuator" "/telescop" "/firebase" "/filezill" "/.netlify" "/articles" "/register" "/template" "/componen" "/.amplify" "/livewire" "/official" "/.profile"} or

# Each Cloudflare rule is limited to 4096 chars (and you get 5 rules). Doing it as above uses less
# chars than individual "contains" or "ends_with" functions. Especially if you have to use the lower
# function on them too. It adds up. 
#
# These are things that can occur anywhere in the path. You may or may not need "lower" to catch 
# mixed-case uses.
http.request.uri.path contains "wp" or
lower(http.request.uri.path) contains "php" or
http.request.uri.path contains "env" or
http.request.uri.path contains "[" or
http.request.uri.path contains "application.properties" or
http.request.uri.path contains "/wordpress" or
http.request.uri.path contains "/auth" or
http.request.uri.path contains "/.git" or
http.request.uri.path contains "config" or
http.request.uri.path contains "backup" or
http.request.uri.path contains "api" or
http.request.uri.path contains "debug" or
lower(http.request.uri.path) contains "docker" or
http.request.uri.path contains "%" or
http.request.uri.path contains "*" or
http.request.uri.path contains "META-INF" or
http.request.uri.path contains "/login" or
http.request.uri.path contains "credential" or
http.request.uri.path contains "gradle"

# FWIW: "wp," "php," ".git" & "env" block 90% of the malicious requests. Adding more rules is 
# diminishing returns.

#
# ORDER OF PROCESSING
#
# Remember: security "custom rules" are processed before "bulk redirects." That's good because it
# wouldn't make sense to redirect hundreds (thousands) of requests only to be blocked. (In the prior
# section about bulk-redirects, I mentioned another place redirects can be done. Those are processed
# before these security rules.).
#
# [1] https://developers.cloudflare.com/ruleset-engine/reference/phases-list/#request-phases
#
