#*******************************************************************************
# This site is hosted on Cloudflare Workers which doesn't use .htaccess (it uses
# "rules" in the dashboard. I show my Cloudflare rules at the end.).
#*******************************************************************************

#===============================================================================
# When this site was hosted on Apache, the following was used:
#RewriteEngine On
#
#-------------------------------------------------------------------------------
# Redirect apex (non-www domain name) to www:
#-------------------------------------------------------------------------------
#RewriteCond %{HTTP_HOST} ^mcacc-collars\.charity$ [NC]
#RewriteRule ^(.*)$ https://www.mcacc-collars.charity/$1 [R=301,L]
#
#-------------------------------------------------------------------------------
# Require https:
#-------------------------------------------------------------------------------
#RewriteCond %{HTTPS} off
#RewriteRule ^(.*)$ https://www.mcacc-collars.charity/$1 [R=301,L]
#
#-------------------------------------------------------------------------------
# Redirect a free domain to my domain name:
#-------------------------------------------------------------------------------
#RewriteCond %{HTTP_HOST} ^.*\.webs\.nf$ [NC]
#RewriteRule ^(.*)$ https://www.mcacc-collars.charity/$1 [R=301,L]


#===============================================================================
# ON CLOUDFLARE: The http-to-https redirect is done automatically (a setting in
# "SSL/TLS > Edge certificates"). I don't use the free domain anymore.
#
# REDIRECT APEX TO WWW
# Go to account home (domains) > "Delivery & performance > Bulk redirects." Create a "bulk redirect
# list" with these two items:
#
# SOURCE URL                     TARGET URL                         STATUS
# http://mcacc-collars.charity/  https://www.mcacc-collars.charity/ 301
# https://mcacc-collars.charity/ https://www.mcacc-collars.charity/ 301
#
# You MUST enable the following parameters for EACH rule:
#   - Subpath matching (matches any source URL after /) 
#   - Preserve path suffix (adds anything after / to the target URL) 
#
# The bulk-redirect matching algorithm[1] suggests that it can match just hostname (without scheme),
# but I couldn't get that to work. (If that worked, only one list item would be necessary. I created
# two to cover the two possible ways non-www can occur.
#
# Bulk redirect rules occur before Cloudflare requires https. (The first item essentially requires
# https before Cloudflare has to do it.).
#
# FYI: there is also a "Rules > Overview > Redirect rules" where you can accomplish the above. But,
# that's processed very early in Cloudflare's ruleset engine.[2] That's problematic when you
# consider the next section's security blocking rules. (You wouldn't want to redirect things you
# end up blocking. Better to do the blocking first. Redirect what remains.).
#
# REDIRECT /images/[subdomains] to /images
# I also created bulk redirects for the /images/medium/ and /small/ subdirectories. They have smaller
# versions of the images in /images. I don't have directory browsing for those subdirs. I redirect
# any request to browse those subdirs to /images which has directory browsing.
#
#
# SOURCE URL                     								TARGET URL									STATUS
# https://www.mcacc-collars.charity/images/medium				https://www.mcacc-collars.charity/images/ 	301
# https://www.mcacc-collars.charity/images/medium/				"											301
# https://www.mcacc-collars.charity/images/medium/index.html	"											301
# https://www.mcacc-collars.charity/images/small				"											301
# https://www.mcacc-collars.charity/images/small/				"											301
# https://www.mcacc-collars.charity/images/small/index.html		"											301

#===
# BLOCK MALICIOUS REQUESTS
#
# I was getting hundreds of requests for infrastructure files, things I don't have & nobody should
# try to access even if I did. I created the # following rules in Security > Security rules >
# Custom rules." 
#
# RULE #1: Whitelist: expected (valid) requests
#
# The blocking rules (#2, 3 & 4) have so many conditions that it seemed better to whitelist what I
# know to be the valid requests. I start with what should be the most frequent requests (images?),
# end with the least expected.
#
# I think /images/* probably gets the most access. I expect three filetypes (webp, jpg or gif). The
# shortest image path is 21-char (plus 8 for "/images/" in front):

(starts_with(http.request.uri.path, "/images/") and
  substring(http.request.uri.path, -4) in {"webp" ".jpg" ".gif"} and
  len(http.request.uri.path) gt 28
) or

# There can also be directory browsing on /images/. But, that should be much less frequent. I
# whitelist that below.
#
# I assume /css & /js are the next most-common requests:

http.request.uri.path in {"/css/style.css" "/css/files.css" "/js/darkmode.js"} or

# Again, there could be directory browsing of the above. That's whitelisted below because it should
# be rare.
#
# At this point, I think the published pages (directories) of the site would be most commonly
# requested (in the order I think they'd be most visited, not sure it matters with "in"?):

http.request.uri.path in {
"/resources/leash_sleeve/"
"/resources/collars_leashes/"
"/resources/collars_leashes/lk1900bn/"
"/resources/collars_leashes/hot-knife/"
"/resources/"
"/"} or

# Those could also be accessed with /index.html or without trailing /. I whitelist that below
# (rare).
#
# Then there's requests for /files/*. Only the filetypes pdf & zip exist: 

( starts_with(http.request.uri.path, "/files/") and
  substring(http.request.uri.path, -3) in {"pdf" "zip"}
) or

# Again, /files could be accessed with /index.html or without trailing /. Whitelisted below.
#
# favicons:

substring(http.request.uri.path, 0, 8) in {"/android" "/favicon"} or
starts_with(http.request.uri.path, "/apple") or

# The files in the root directory:

http.request.uri.path in {"/BingSiteAuth.xml" "/googleb3737839f3b1fec8.html" "/googleb3737839f3b1fec8" "/llms.txt" "/robots.txt" "/site.webmanifest" "/404.html" "/404.svg" "/sitemap.xml.gz" "/sitemap.xml" "/LICENSE.txt"
"/ads.txt" "/humans.txt" "/security.txt"
} or

# I get requests for the google site verification file with & without .html. I created a symlink
# to serve both. I see requests for sitemap.xml and .gz. I serve both. I get requests for ads,
# humans & security .txt files. I whitelist it even if I don't serve them.

# There's also .well-known/

starts_with(http.request.uri.path, "/.well-known/") or

# I don't need to whitelist accesses without the trailing /. Directory browsing shouldn't be allowed
for /.well-known.

# At this point, the only other requests that could occur would be directory browsing of either 1)
# directories that aren't the site's "pages" people are invited to visit (whitelisted above as
# directories). Or, 2) directories that were whitelisted above, but could be requested with
# "index.html" added (which would be rare).
#
# The following are in the order of what's already been whitelisted (what this adds to, but done
# here because these requests should be very rare.

http.request.uri.path in {

# /directory/ & /directory/index.html
"/images/" "/images/index.html"
"/css/" "/css/index.html"
"/js/" "/js/index.html"

# These are just /directory/index.html because the /directory/ was already whitelisted above:

"/resources/index.html"
"/resources/collars_leashes/index.html"
"/resources/collars_leashes/hot-knife/index.html"
"/resources/collars_leashes/lk1900bn/index.html"
"/resources/leash_sleeve/index.html"
"/index.html"

# Another /directory/ & /directory/index.html

"/files/" "/files/index.html"

# It's also possible to browse the subdirs of /images/, but there's nothing there to see. I use
# bulk-redirects to redirect these accesses to /images/

"/images/small/" "/images/small/index.html"
"/images/medium/" "/images/medium/index.html"} or

# Finally, the rarest request would be any directory browsing without the trailing slash. I think
# this could only occur if someone typed the url, very rare.

http.request.uri.path in {
"/images"
"/css"
"/js"
"/resources"
"/resources/collars_leashes"
"/resources/collars_leashes/hot-knife"
"/resources/collars_leashes/lk1900bn"
"/resources/leash_sleeve"
"/files"
"/images/small"
"/images/medium"}

# Action: SKIP (all remaining custom rules)
# Log matching requests: NO
#
# Note: It's tempting to consider reversing the logic, and say "if NOT" any of the above: block.
# But, I think there could be legitimate things browsers, AI bots might look for. For example,
# llms.txt is relatively new. Likewise, an old Apple ipad looks for a "precomposed" favicon. I would
# worry what else I'm not aware of. I think it's better to let everything not-whitelisted fall
# through. But, I do block "images" and "js" if anything falls through. (I'm considering "files" and
# "css" too.).
#
# RULE #2: Block: requests for things I don't have (and look malicious):
#
# So far I am blocking:

# I get hundreds of requests for /aa, /ab, /ac, etc. The largest path I serve is /ads.txt (8 char).
# There shouldn't be any requests for any files with paths shorter than that. I could probably
# block < 10, but there's alawys new standards evolving (like /llms.txt which is 9 char). I wouldn't
# want to block something that's normal someday (unforeseen today). I think there's almost no chance
# of a future standard looking for something shorter than 8.
len(http.request.uri.path) lt 8 or

# I block paths ending in these strings:
substring(lower(http.request.uri.path), -3) in {".gz" ".7z" ".xz" ".md" ".sh" ".js" ".rc" ".db" ".py" "yml"} or
substring(lower(http.request.uri.path), -4) in {".zip" ".tar" ".rar" ".bz2" ".tgz" ".cfm" ".ini" ".asp" ".cfg" ".map" ".sql" ".axd" ".cgi" ".bak" ".log" ".key" ".pem" "dump" ".hcl"} or
substring(lower(http.request.uri.path), -5) in {".json" ".toml" ".aspx" ".yaml" ".conf" "fvars" "state"} or

# I block paths starting with these strings:
substring(http.request.uri.path, 0, 2) in {"/_" "/~" "/$" "/;"} or
substring(lower(http.request.uri.path), 0, 3) in {"/v2" "/s3" "/.;"} or
substring(lower(http.request.uri.path), 0, 4) in {"/.ds" "/.ht" "/app" "/aws" "/ecp" "/var" "/log" "/opt" "/etc" "/rsc" "/old" "/pre" "/dev" "/new" "/asp" "/..;"} or
substring(lower(http.request.uri.path), 0, 5) in {"/.ssh" "/.aws" "/alfa" "/blog" "/.svn" "/root" "/rest" "/team" "/home" "/file" "/page" "/post" "/.bod" "/auto" "/cred" "/user" "/word" "/inst" "/curl" "/host" "/feed" "/sign" "/test"} or
substring(lower(http.request.uri.path), 0, 6) in {"/graph" "/debug" "/login" "/admin" "/oauth" "/media" "/react" "/theme" "/tinyf" "/.idea" "/.bash" "/check" "/front"} or
substring(lower(http.request.uri.path), 0, 7) in {"/upload" "/plugin" "/.trash" "/server" "/health" "/action" "/webjar" "/orders" "/editor" "/assets" "/module" "/static" "/manage" "/update" "/vendor"} or
substring(lower(http.request.uri.path), 0, 8) in {"/.pypirc" "/storage" "/request" "/cgi-bin" "/swagger" "/console" "/webhook" "/setting" "/project" "/product" "/package" "/message" "/control" "/contact" "/billing" "/.vercel" "/.stripe" "/jenkins" "/profile" "/payment" "/threads" "/enhance" "/.yarnrc" "/metrics" "/web-inf" "/.action" "/staging" "/laravel" "/deliver"} or
substring(lower(http.request.uri.path), 0, 9) in {"/procfile" "/actuator" "/telescop" "/firebase" "/filezill" "/.netlify" "/articles" "/register" "/template" "/componen" "/.amplify" "/livewire"} or

# Each Cloudflare rule is limited to 4096 chars (and you get 5 rules). Doing it as above uses less
# chars than individual "contains" or "ends_with" functions. Especially if you have to use the lower
# function on them too. It adds up. 
#
# These are things that can occur anywhere in the path. You may or may not need "lower" to catch 
# mixed-case uses.
http.request.uri.path contains "wp" or
lower(http.request.uri.path) contains "php" or
http.request.uri.path contains "env" or
http.request.uri.path contains "[" or
http.request.uri.path contains "manifest.webmanifest" or
http.request.uri.path contains "application.properties" or
http.request.uri.path contains "/wordpress" or
http.request.uri.path contains "/auth" or
http.request.uri.path contains "/.git" or
http.request.uri.path contains "config" or
http.request.uri.path contains "backup" or
http.request.uri.path contains "api" or
http.request.uri.path contains "debug" or
lower(http.request.uri.path) contains "docker" or
http.request.uri.path contains "%" or
http.request.uri.path contains "*" or
http.request.uri.path contains "META-INF" or
http.request.uri.path contains "/login" or
http.request.uri.path contains "credential"


# FWIW: the "wp," "php," ".git" & "env" block 90% of the malicious requests. Adding more rules is 
# diminishing returns.

#
# ORDER OF PROCESSING
#
# Remember: security "custom rules" are processed before "bulk redirects." That's good because it
# wouldn't make sense to redirect hundreds (thousands) of requests only to be blocked. (In the prior
# section about bulk-redirects, I mentioned another place redirects can be done. Those are processed
# before these security rules.).
#
# [1] https://developers.cloudflare.com/rules/url-forwarding/bulk-redirects/how-it-works/#url-matching-algorithm
#
# [2] https://developers.cloudflare.com/ruleset-engine/reference/phases-list/#request-phases
